In [142]:
#use this for item-based collaborative filtering. edit data in item.csv.
#remember that for this script, data has indexes only for rows and NOT for columns 

import numpy as np
import pandas as pd
import copy
import math
#For item-based 

file = open('item.csv')
data = file.readlines()

lst = [[j for j in i.strip().split(',')] for i in data]
missing_index = 0
for idx, i in enumerate(lst):
    if '?' in i:
        missing_index = i.index('?')
        missing_index_row = idx

train_data = [i for i in lst if '?' not in i]
train_data = [[float(j) for j in i] for i in train_data]
train_data = np.array(train_data)

trainDF = pd.DataFrame(train_data)
trainDF = trainDF.set_index(0)
print('\n\n\nso, after dropping the user with missing rating, we have the following remaining rows')
display(trainDF)

print('\n\nNow, We will calculate mean rating for each user\n')
tempDF = copy.deepcopy(trainDF)
tempDF['mean'] = trainDF.mean(axis=1)


display(tempDF)

print('\n\nNow, we will perform centralisation\n\n')
for index, rows in trainDF.iterrows():
    trainDF.loc[index] = trainDF.loc[index] - tempDF['mean'][index]

display(trainDF)
    
print('\n\nnow after centralisation, we will calculate the L2 Norm and add it to the table')
print('L2 norm is the square root of sum of squares of ratings for a particular item')
norms = []
for columns in trainDF:
    norm = 0
    for j in trainDF[columns]:
        norm = norm + j*j
    norm = round(math.sqrt(norm), 3)
    norms.append(norm)
    
l2DF = copy.deepcopy(trainDF)
l2DF.loc['l2'] = norms
display(l2DF)

print('\nnow, we will calculate cosine similarity between the item that is missing a value and other items')
df = copy.deepcopy(trainDF)
for index, rows in df.iterrows():
    df.loc[index] = df.loc[index] * df[missing_index][index]
sums = df.sum(axis = 0)
sums = pd.DataFrame(sums)
cDict = {}
for index, rows in sums.iterrows():
    m = l2DF[missing_index]['l2'] * l2DF[index]['l2']
    sums.loc[index] = sums.loc[index]/m
    if index != missing_index:
        s = sums.loc[index]
        print('the cosine similarity for item ', index, ' is: ', round(s[0], 3))
        cDict[round(s[0], 3)] = index

print()
print()
print('the maximum cosine similarity is, ', max(cDict), ' for item number: ', cDict[max(cDict)])
rating = lst[0][cDict[max(cDict)]]
print('\nthe use rated item number: ', cDict[max(cDict)], ' as: ', rating, ' so the answer is, ', rating)

so, after dropping the user with missing rating, we have the following remaining rows

       1    2    3    4    5
0
2.0  3.0  2.0  3.0  1.0  3.0
3.0  3.0  4.0  3.0  4.0  4.0
4.0  5.0  1.0  3.0  2.0  4.0
5.0  1.0  4.0  5.0  2.0  3.0

Now, We will calculate mean rating for each user

       1    2    3    4    5  mean
0
2.0  3.0  2.0  3.0  1.0  3.0   2.4
3.0  3.0  4.0  3.0  4.0  4.0   3.6
4.0  5.0  1.0  3.0  2.0  4.0   3.0
5.0  1.0  4.0  5.0  2.0  3.0   3.0

Now, we will perform centralisation

       1    2    3    4    5
0
2.0  0.6 -0.4  0.6 -1.4  0.6
3.0 -0.6  0.4 -0.6  0.4  0.4
4.0  2.0 -2.0  0.0 -1.0  1.0
5.0 -2.0  1.0  2.0 -1.0  0.0

now after centralisation, we will calculate the L2 Norm and add it to the table
L2 norm is the square root of sum of squares of ratings for a particular item

         1      2      3     4      5
0
2.0  0.600 -0.400  0.600 -1.40  0.600
3.0 -0.600  0.400 -0.600  0.40  0.400
4.0  2.000 -2.000  0.000 -1.00  1.000
5.0 -2.000  1.000  2.000 -1.00  0.000
l2   2.953  2.307  2.173  2.03  1.233

now, we will calculate cosine similarity between the item that is missing a value and other items
the cosine similarity for item  1  is:  0.582
the cosine similarity for item  2  is:  -0.731
the cosine similarity for item  3  is:  0.045
the cosine similarity for item  4  is:  -0.671


the maximum cosine similarity is,  0.582  for item number:  1

the use rated item number:  1  as:  4  so the answer is,  4

In [210]:
#### Use this is the question asks for user-based collaborative filtering. Change data in user.csv.
#### remember, data file of this question should have both row and column index
import numpy as np
import pandas as pd
import copy
import math
data = pd.read_csv('user.csv')
data = data.set_index('index')
print('\n\nbefore proceeding, check that the dataset looks like this')
display(data)
for idx, i in data.iteritems():
    for idx2, j in enumerate(i):
        if j == '?':
            missing_row = idx2 + 1
            missing_column = idx

print('\nRating is missing for item number ',missing_column, 'as reviewer number', missing_row, 'has not given any rating')
print('\nso the data that we will be working on would exlude ratings of item number',missing_column, 'initially')

tDF = data.drop(missing_column, axis = 1)
display(tDF)

print('\nNow, we will add average rating of each participant')
tDF['average'] = tDF.mean(axis=1)
display(tDF)
average = copy.deepcopy(tDF['average'])
print('\nNow, we will centralise the rows to get the x-hats')
for index, rows in tDF.iterrows():
    if index != 'average':
        tDF.loc[index] = tDF.loc[index] - tDF['average'][index]
tDF['average'] = average
display(tDF)

t2DF = copy.deepcopy(tDF)
t2DF.drop('average', axis = 1, inplace = True)
t2DF['norm'] = round(np.sqrt(np.square(t2DF).sum(axis=1)), 3)
print('\nNow, we will calculate the norms that will help in calculating cosine similarity')
display(t2DF)
t3DF = copy.deepcopy(t2DF)
t3DF.drop('norm', axis = 1, inplace = True)
cosine = {}
for idx, i in t2DF.iterrows():
    if idx != missing_row:
        s = i.mul(t3DF.loc[missing_row]).sum()
        m = t2DF['norm'][idx]*t2DF['norm'][missing_row]
        c = round(s/m, 3)
        cosine[c] = idx
        print('cosine similarity of user', idx, 'is:', c)
        
print('The highest cosine similarity is with user', cosine[max(cosine)], ':', max(cosine))

print('\nwe will add the bias of user', missing_row, 'in the centralised rating of item', missing_column, 'of user', cosine[max(cosine)])
print('so, the final answer is', float(data[missing_column][cosine[max(cosine)]]) - average[cosine[max(cosine)]] + average[missing_row])
#float(average[cosine[max(cosine)]]))

before proceeding, check that the dataset looks like this

       1  2  3  4  5
index
1      4  5  4  3  ?
2      3  2  3  1  3
3      3  4  3  4  4
4      5  1  3  2  4
5      1  4  5  2  3

Rating is missing for item number  5 as reviewer number 1 has not given any rating

so the data that we will be working on would exlude ratings of item number 5 initially

       1  2  3  4
index
1      4  5  4  3
2      3  2  3  1
3      3  4  3  4
4      5  1  3  2
5      1  4  5  2

Now, we will add average rating of each participant

       1  2  3  4  average
index
1      4  5  4  3     4.00
2      3  2  3  1     2.25
3      3  4  3  4     3.50
4      5  1  3  2     2.75
5      1  4  5  2     3.00

Now, we will centralise the rows to get the x-hats

          1     2     3     4  average
index
1      0.00  1.00  0.00 -1.00     4.00
2      0.75 -0.25  0.75 -1.25     2.25
3     -0.50  0.50 -0.50  0.50     3.50
4      2.25 -1.75  0.25 -0.75     2.75
5     -2.00  1.00  2.00 -1.00     3.00

Now, we will calculate the norms that will help in calculating cosine similarity

          1     2     3     4   norm
index
1      0.00  1.00  0.00 -1.00  1.414
2      0.75 -0.25  0.75 -1.25  1.658
3     -0.50  0.50 -0.50  0.50  1.000
4      2.25 -1.75  0.25 -0.75  2.958
5     -2.00  1.00  2.00 -1.00  3.162

cosine similarity of user 2 is: 0.427
cosine similarity of user 3 is: 0.0
cosine similarity of user 4 is: -0.239
cosine similarity of user 5 is: 0.447
The highest cosine similarity is with user 5 : 0.447

we will add the bias of user 1 in the centralised rating of item 5 of user 5
so, the final answer is 4.0

4.0